.page-div {

}

.nav-ul {
  list-style-type: none;
}
.nav-li {
  display: inline-block;
  margin: 0px 20px;
  text-align: center;
}

.main-navbar {
  text-align:center;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  color: yellow;
}

body {
  background-color: #C1D4EE;
  }

.name-header {
  color: #393f47;
}

a:visited {
    color: #393f47;
}

a {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#header-div {
  background-color: #ecf2f9;
  border-radius: 25px;
  width: 60%;
  margin: 10px 10px 80px 20%;
}

.bio-p {
  font-family: 'Noticia Text', serif;
  font-size: 18px;
  color: #393f47;
}

.bio-div {
  margin: 70px 400px

}

.icons-div {
  margin-left: 35%;
  margin-top: 60px;
}

.app-link {
  display: inline-block;
  text-align: center;
  margin: 100px 900px;
}
